
li{
    display: inline;
    font-size: 40px;
    float: left;
}
a{
    display: block;
    padding: 8px;
    background-color: #383B3C;
    text-decoration: none;
    color:white;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }